In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
from src.clean_dataset import clean_dataset

train_dataset = pd.read_pickle('generated_files/train.pkl')
train_X,train_Y = clean_dataset(train_dataset)

test_dataset = pd.read_pickle('generated_files/test.pkl')
test_X,test_Y = clean_dataset(test_dataset)

In [3]:
train_X.to_pickle('generated_files/train_X.pkl')
test_X.to_pickle('generated_files/test_X.pkl')
train_Y.to_pickle('generated_files/train_Y.pkl')
test_Y.to_pickle('generated_files/test_Y.pkl')

In [5]:
from src.metrics import mapk

def transform_y(y_mat):
    return [np.argwhere(row == 1).T[0] for row in y_mat.values]

res = transform_y(train_Y)

print("confirming our estimation of best possible score in exploration was correct:")
best_possible_result = mapk(res, res, k=7)
best_possible_result

confirming our estimation of best possible score in exploration was correct:

0.035697406658823295

In [9]:
# Throw away all unchanged for training set:

is_changed_series = train_Y.sum(axis=1) > 0
X_changed = train_X[is_changed_series]
Y_changed = train_Y[is_changed_series]
X_changed

,Customer_Code,Row_Date,Sex,Age,Customer_Seniority_Months,Province_Name,Is_Active,Gross_Household_Income,Segmentation,FT_Saving_Account,...,FT_Mortgage,FT_Pensions1,FT_Loans,FT_Taxes,FT_Credit_Card,FT_Securities,FT_Home_Account,FT_Payroll,FT_Pensions2,FT_Direct_Debit
3,15889,2015-04-28,V,56.0,245.0,MADRID,1.0,326124.900000,01 - TOP,0,...,0,0,0,0,0,1,0,0.0,0.0,0
10,15889,2015-11-28,V,56.0,249.0,MADRID,1.0,326124.900000,01 - TOP,0,...,0,0,0,0,0,1,0,0.0,0.0,0
13,15889,2016-02-28,V,56.0,252.0,MADRID,1.0,326124.900000,01 - TOP,0,...,0,0,0,0,0,1,0,0.0,0.0,0
15,15889,2016-04-28,V,56.0,254.0,MADRID,1.0,326124.900000,01 - TOP,0,...,0,0,0,0,0,1,0,0.0,0.0,0
18,15897,2015-03-28,V,61.0,246.0,MADRID,1.0,175450.050000,01 - TOP,0,...,0,1,0,1,1,1,0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397776,1547487,2016-04-28,H,30.0,0.0,MADRID,0.0,134227.485674,02 - PARTICULARES,0,...,0,0,0,0,0,0,0,0.0,0.0,0
397779,1547606,2016-04-28,V,37.0,0.0,VALENCIA,0.0,134227.485674,02 - PARTICULARES,0,...,0,0,0,0,0,0,0,0.0,0.0,0
397781,1547704,2016-04-28,V,76.0,0.0,MADRID,0.0,134227.485674,02 - PARTICULARES,0,...,0,0,0,0,0,0,0,0.0,0.0,0
397785,1547995,2016-04-28,H,42.0,0.0,"BALEARS, ILLES",1.0,134227.485674,02 - PARTICULARES,0,...,0,0,0,0,0,0,0,0.0,0.0,0
397787,1548178,2016-04-28,V,41.0,0.0,MADRID,0.0,134227.485674,02 - PARTICULARES,0,...,0,0,0,0,0,0,0,0.0,0.0,0