In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [31]:
dataset = pd.read_pickle('dataset/partial_train.pkl')

In [32]:
prediction_features = [col for col in dataset.columns if 'FT_' in col]
context_features = [col for col in dataset.columns if 'FT_' not in col]

interesting_context_features = ['Row_Date', 'Sex', 'Age', 'Customer_Seniority_Months', 'Province_Name', 'Is_Active', 'Gross_Household_Income', 'Segmentation']
all_interesting_features = interesting_context_features + prediction_features

clean_dataset = dataset[all_interesting_features]

In [33]:
clean_dataset

,Row_Date,Sex,Age,Customer_Seniority_Months,Province_Name,Is_Active,Gross_Household_Income,Segmentation,FT_Saving_Account,FT_Guarantees,...,FT_Mortgage,FT_Pensions1,FT_Loans,FT_Taxes,FT_Credit_Card,FT_Securities,FT_Home_Account,FT_Payroll,FT_Pensions2,FT_Direct_Debit
Customer_Code,,,,,,,,,,,,,,,,,,,,,
15889,2015-07-28,V,56.0,245.0,MADRID,1.0,326124.9,01 - TOP,0,0,...,0,0,0,0,1,1,0,0.0,0.0,0
15889,2015-09-28,V,56.0,247.0,MADRID,1.0,326124.9,01 - TOP,0,0,...,0,0,0,0,0,1,0,0.0,0.0,0
15889,2015-10-28,V,56.0,248.0,MADRID,1.0,326124.9,01 - TOP,0,0,...,0,0,0,0,0,1,0,0.0,0.0,0
15889,2015-06-28,V,56.0,245.0,MADRID,1.0,326124.9,01 - TOP,0,0,...,0,0,0,0,1,1,0,0.0,0.0,0
15889,2015-04-28,V,56.0,245.0,MADRID,1.0,326124.9,01 - TOP,0,0,...,0,0,0,0,0,1,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1553627,2016-05-28,V,31.0,0.0,MADRID,0.0,NaN,NaN,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
1553636,2016-05-28,V,30.0,0.0,MADRID,0.0,NaN,NaN,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
1553637,2016-05-28,H,60.0,0.0,MADRID,0.0,NaN,NaN,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
1553643,2016-05-28,H,37.0,0.0,CADIZ,0.0,NaN,NaN,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
1553646,2016-05-28,H,38.0,0.0,MADRID,0.0,NaN,NaN,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [34]:
print("amount of missing data in each column:")
clean_dataset.isna().sum().sort_values(ascending=False)

amount of missing data in each column:

Gross_Household_Income        117414
Segmentation                    8093
Province_Name                   3783
Is_Active                       1167
Sex                             1167
Age                             1167
Customer_Seniority_Months       1167
FT_Pensions2                     677
FT_Payroll                       677
FT_Más_particular_Account          0
FT_Saving_Account                  0
FT_Guarantees                      0
FT_Current_Accounts                0
FT_Derivada_Account                0
FT_Payroll_Account                 0
FT_Junior_Account                  0
FT_Direct_Debit                    0
FT_particular_Account              0
FT_particular_Plus_Account         0
FT_Short_term_deposits             0
FT_Medium_term_deposits            0
FT_Long_term_deposits              0
FT_e-account                       0
FT_Funds                           0
FT_Mortgage                        0
FT_Pensions1                       0
FT_Loans                           0
FT_Taxes                           0
FT_Credit_Card                     0
FT_Securities                      0
FT_Home_Account                    0
Row_Date                           0
dtype: int64

In [35]:
for ft in prediction_features:
    clean_dataset[ft] = clean_dataset[ft].fillna(0)

/home/user279/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
clean_dataset['Province_Name'] = clean_dataset['Province_Name'].fillna('MADRID')

/home/user279/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
clean_dataset.loc[clean_dataset['Customer_Seniority_Months'] < 0, 'Customer_Seniority_Months'] = np.nan

/home/user279/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [42]:
clean_dataset['Segmentation'] = clean_dataset['Segmentation'].fillna('02 - PARTICULARES')

/home/user279/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [52]:
clean_dataset['Sex'] = clean_dataset['Sex'].fillna('V')

/home/user279/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
numeric_dtypes = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numeric_columns = clean_dataset.select_dtypes(include=numeric_dtypes).columns

for ft in numeric_columns:
    clean_dataset[ft] = clean_dataset[ft].fillna(clean_dataset[ft].mean())

/home/user279/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [53]:
print("amount of missing data in each column:")
clean_dataset.isna().sum().sort_values(ascending=False)

amount of missing data in each column:

FT_Direct_Debit               0
FT_Pensions2                  0
Sex                           0
Age                           0
Customer_Seniority_Months     0
Province_Name                 0
Is_Active                     0
Gross_Household_Income        0
Segmentation                  0
FT_Saving_Account             0
FT_Guarantees                 0
FT_Current_Accounts           0
FT_Derivada_Account           0
FT_Payroll_Account            0
FT_Junior_Account             0
FT_Más_particular_Account     0
FT_particular_Account         0
FT_particular_Plus_Account    0
FT_Short_term_deposits        0
FT_Medium_term_deposits       0
FT_Long_term_deposits         0
FT_e-account                  0
FT_Funds                      0
FT_Mortgage                   0
FT_Pensions1                  0
FT_Loans                      0
FT_Taxes                      0
FT_Credit_Card                0
FT_Securities                 0
FT_Home_Account               0
FT_Payroll                    0
Row_Date                      0
dtype: int64

In [77]:
gb = clean_dataset.groupby(clean_dataset.index)

clean_dataset['min'] = gb['Row_Date'].min()
clean_dataset['max'] = gb['Row_Date'].max()

input_dataset = clean_dataset[clean_dataset['Row_Date'] != clean_dataset['max']].drop(['min','max'], axis=1)
output_dataset = clean_dataset[clean_dataset['Row_Date'] != clean_dataset['min']].drop(['min','max'], axis=1)

/home/user279/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/user279/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [78]:
input_dataset = input_dataset.reset_index().sort_values(['Customer_Code', 'Row_Date']).reset_index(drop=True)
output_dataset = output_dataset.reset_index().sort_values(['Customer_Code', 'Row_Date']).reset_index(drop=True)

In [81]:
X = input_dataset
Y = (output_dataset[prediction_features] - input_dataset[prediction_features]).clip(0,1)

In [85]:
X

,Customer_Code,Row_Date,Sex,Age,Customer_Seniority_Months,Province_Name,Is_Active,Gross_Household_Income,Segmentation,FT_Saving_Account,...,FT_Mortgage,FT_Pensions1,FT_Loans,FT_Taxes,FT_Credit_Card,FT_Securities,FT_Home_Account,FT_Payroll,FT_Pensions2,FT_Direct_Debit
0,15889,2015-01-28,V,56.0,245.0,MADRID,1.0,326124.900000,01 - TOP,0,...,0,0,0,0,1,1,0,0.0,0.0,0
1,15889,2015-02-28,V,56.0,245.0,MADRID,1.0,326124.900000,01 - TOP,0,...,0,0,0,0,0,1,0,0.0,0.0,0
2,15889,2015-03-28,V,56.0,245.0,MADRID,1.0,326124.900000,01 - TOP,0,...,0,0,0,0,0,1,0,0.0,0.0,0
3,15889,2015-04-28,V,56.0,245.0,MADRID,1.0,326124.900000,01 - TOP,0,...,0,0,0,0,0,1,0,0.0,0.0,0
4,15889,2015-05-28,V,56.0,245.0,MADRID,1.0,326124.900000,01 - TOP,0,...,0,0,0,0,1,1,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530483,1547995,2016-04-28,H,42.0,0.0,"BALEARS, ILLES",1.0,134356.367094,02 - PARTICULARES,0,...,0,0,0,0,0,0,0,0.0,0.0,0
530484,1548040,2016-04-28,V,29.0,0.0,JAEN,0.0,134356.367094,02 - PARTICULARES,0,...,0,0,0,0,0,0,0,0.0,0.0,0
530485,1548083,2016-04-28,V,22.0,0.0,"BALEARS, ILLES",0.0,134356.367094,02 - PARTICULARES,0,...,0,0,0,0,0,0,0,0.0,0.0,0
530486,1548126,2016-04-28,V,56.0,0.0,ALICANTE,0.0,134356.367094,02 - PARTICULARES,0,...,0,0,0,0,0,0,0,0.0,0.0,0
530487,1548178,2016-04-28,V,41.0,0.0,MADRID,0.0,134356.367094,02 - PARTICULARES,0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [121]:
Y

,FT_Saving_Account,FT_Guarantees,FT_Current_Accounts,FT_Derivada_Account,FT_Payroll_Account,FT_Junior_Account,FT_Más_particular_Account,FT_particular_Account,FT_particular_Plus_Account,FT_Short_term_deposits,...,FT_Mortgage,FT_Pensions1,FT_Loans,FT_Taxes,FT_Credit_Card,FT_Securities,FT_Home_Account,FT_Payroll,FT_Pensions2,FT_Direct_Debit
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0.0,0.0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530483,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
530484,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
530485,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
530486,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
530487,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [87]:
from src.metrics import mapk

In [119]:
def transform_y(y_mat):
    return [np.argwhere(row == 1).T[0] for row in Y.values]

res = transform_y(Y)

print("confirming our estimation of best possible score in exploration was correct:")
best_possible_result = mapk(res, res, k=7)
best_possible_result

confirming our estimation of best possible score in exploration was correct:

0.03547865361704695

In [126]:
# Throw away all unchanged for training set:

is_changed_series = Y.sum(axis=1) > 0
X_changed = X[is_changed_series]
Y_changed = Y[is_changed_series]
X_changed

,Customer_Code,Row_Date,Sex,Age,Customer_Seniority_Months,Province_Name,Is_Active,Gross_Household_Income,Segmentation,FT_Saving_Account,...,FT_Mortgage,FT_Pensions1,FT_Loans,FT_Taxes,FT_Credit_Card,FT_Securities,FT_Home_Account,FT_Payroll,FT_Pensions2,FT_Direct_Debit
3,15889,2015-04-28,V,56.0,245.0,MADRID,1.0,326124.900000,01 - TOP,0,...,0,0,0,0,0,1,0,0.0,0.0,0
10,15889,2015-11-28,V,56.0,249.0,MADRID,1.0,326124.900000,01 - TOP,0,...,0,0,0,0,0,1,0,0.0,0.0,0
13,15889,2016-02-28,V,56.0,252.0,MADRID,1.0,326124.900000,01 - TOP,0,...,0,0,0,0,0,1,0,0.0,0.0,0
15,15889,2016-04-28,V,56.0,254.0,MADRID,1.0,326124.900000,01 - TOP,0,...,0,0,0,0,0,1,0,0.0,0.0,0
18,15897,2015-03-28,V,61.0,246.0,MADRID,1.0,175450.050000,01 - TOP,0,...,0,1,0,1,1,1,0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530480,1547874,2016-04-28,V,44.0,0.0,MADRID,1.0,134356.367094,02 - PARTICULARES,0,...,0,0,0,0,0,0,0,0.0,0.0,0
530483,1547995,2016-04-28,H,42.0,0.0,"BALEARS, ILLES",1.0,134356.367094,02 - PARTICULARES,0,...,0,0,0,0,0,0,0,0.0,0.0,0
530484,1548040,2016-04-28,V,29.0,0.0,JAEN,0.0,134356.367094,02 - PARTICULARES,0,...,0,0,0,0,0,0,0,0.0,0.0,0
530486,1548126,2016-04-28,V,56.0,0.0,ALICANTE,0.0,134356.367094,02 - PARTICULARES,0,...,0,0,0,0,0,0,0,0.0,0.0,0
530487,1548178,2016-04-28,V,41.0,0.0,MADRID,0.0,134356.367094,02 - PARTICULARES,0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [91]:
# Handle categorical features... (LabelEncoder)