# Load Partial Dataset

In [1]:
import pandas as pd
import dask.dataframe as dd

In [2]:
from src.load_dataset import load_dataset, split_train_test

In [3]:
# dataset_size = 40000
dataset_size = 120000

my_dataset = load_dataset("dataset/train_ver2.csv", dataset_size, 1)

/home/user279/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]
/home/user279/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]
/home/user279/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

In [4]:
my_dataset

,Row_Date,Employee_Type,Country_Residence,Sex,Age,Registration_Date,Is_New_Customer,Customer_Seniority_Months,First_Or_Primary,Last_Date_primary,...,FT_Mortgage,FT_Pensions1,FT_Loans,FT_Taxes,FT_Credit_Card,FT_Securities,FT_Home_Account,FT_Payroll,FT_Pensions2,FT_Direct_Debit
Customer_Code,,,,,,,,,,,,,,,,,,,,,
15889,2015-10-28,F,ES,V,56.0,1995-01-16,0.0,248.0,1.0,NaT,...,0,0,0,0,0,1,0,0.0,0.0,0
15889,2015-08-28,F,ES,V,56.0,1995-01-16,0.0,246.0,1.0,NaT,...,0,0,0,0,0,1,0,0.0,0.0,0
15889,2016-03-28,F,ES,V,56.0,1995-01-16,0.0,253.0,1.0,NaT,...,0,0,0,0,1,1,0,0.0,0.0,0
15889,2016-02-28,F,ES,V,56.0,1995-01-16,0.0,252.0,1.0,NaT,...,0,0,0,0,0,1,0,0.0,0.0,0
15889,2015-12-28,F,ES,V,56.0,1995-01-16,0.0,250.0,1.0,NaT,...,0,0,0,0,1,1,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1553637,2016-05-28,N,ES,H,60.0,2016-05-31,1.0,0.0,1.0,NaT,...,0,0,0,0,0,0,0,0.0,0.0,0
1553638,2016-05-28,N,ES,H,29.0,2016-05-31,1.0,0.0,1.0,NaT,...,0,0,0,0,0,0,0,0.0,0.0,0
1553643,2016-05-28,N,ES,H,37.0,2016-05-31,1.0,0.0,1.0,NaT,...,0,0,0,0,0,0,0,0.0,0.0,0
1553646,2016-05-28,N,ES,H,38.0,2016-05-31,1.0,0.0,1.0,NaT,...,0,0,0,0,0,0,0,0.0,0.0,0
1553689,2016-05-28,N,ES,V,40.0,2016-05-31,1.0,0.0,1.0,NaT,...,0,0,0,0,0,0,0,0.0,0.0,0

In [5]:
train, test = split_train_test(my_dataset, 0.75, 1)

In [6]:
# my_dataset.to_pickle("generated_files/partial_40K.pkl")
# train.to_pickle("generated_files/40K/train.pkl")
# test.to_pickle("generated_files/40K/test.pkl")

my_dataset.to_pickle("generated_files/partial_120K.pkl")
train.to_pickle("generated_files/120K/train.pkl")
test.to_pickle("generated_files/120K/test.pkl")

# Load Entire Dataset

In [1]:
from src.load_dataset import load_entire_dataset

In [2]:
load_entire_dataset("dataset/train_ver2.csv", "generated_files/entire")

/home/user279/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]
/home/user279/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

loaded customers set
computing 0 batch

/home/user279/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

0 batch complete
computing 1 batch

/home/user279/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

1 batch complete
computing 2 batch

/home/user279/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

2 batch complete
computing 3 batch

/home/user279/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

3 batch complete
computing 4 batch

/home/user279/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

4 batch complete
computing 5 batch

/home/user279/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

5 batch complete
computing 6 batch

/home/user279/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

6 batch complete
computing 7 batch

/home/user279/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

7 batch complete
computing 8 batch

/home/user279/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

8 batch complete
computing 9 batch

/home/user279/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

9 batch complete

In [1]:
import pandas as pd
from src.clean_dataset import clean_without_split
from src.clean_dataset import reduce_train, split_X_Y, get_prediction_features
from src.feature_engineering import enhance_with_timeseries_features, enhance_with_date_features

In [2]:
for i in range(10):
    df = pd.read_pickle(f'generated_files/entire/block{i}.pkl')
    clean_df = clean_without_split(df, fill_na_context_features=True).reset_index().sort_values(['Customer_Code', 'Row_Date'])
    
    prediction_features = get_prediction_features(clean_df)
    enhance_with_timeseries_features(clean_df, prediction_features)
    enhance_with_date_features(clean_df)
    
    clean_df.set_index('Customer_Code', drop=True, inplace=True)
    clean_df.to_pickle(f'generated_files/entire/block{i}_clean.pkl')

In [3]:
for i in range(10):
    df = pd.read_pickle(f'generated_files/entire/block{i}_clean.pkl')
    X, Y = split_X_Y(df)
    X_tr, Y_tr = reduce_train(X, Y)
    
    X_tr.to_pickle(f'generated_files/entire/block{i}_X.pkl')
    Y_tr.to_pickle(f'generated_files/entire/block{i}_Y.pkl')

In [4]:
train_X = pd.concat([pd.read_pickle(f'generated_files/entire/block{i}_X.pkl') for i in range(10)]).reset_index(drop=True)
train_Y = pd.concat([pd.read_pickle(f'generated_files/entire/block{i}_Y.pkl') for i in range(10)]).reset_index(drop=True)

In [5]:
train_X.to_pickle(f'generated_files/entire/train_X.pkl')
train_Y.to_pickle(f'generated_files/entire/train_Y.pkl')

In [6]:
last_df_blocks = []

for i in range(10):
    df = pd.read_pickle(f'generated_files/entire/block{i}_clean.pkl')
    
    last_df = df[df['Row_Date'] == '2016-05-28']
    
    last_df_blocks.append(last_df)

In [7]:
last_df = pd.concat(last_df_blocks).reset_index()

In [8]:
last_df.to_pickle(f'generated_files/entire/last_month_data.pkl')