In [1]:
import pandas as pd
import dask.dataframe as dd

In [2]:
from src.load_dataset import load_dataset, split_train_test

In [3]:
my_dataset = load_dataset("dataset/train_ver2.csv", 120000, 1)

/home/user279/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]
/home/user279/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]
/home/user279/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

In [4]:
my_dataset

,Row_Date,Employee_Type,Country_Residence,Sex,Age,Registration_Date,Is_New_Customer,Customer_Seniority_Months,First_Or_Primary,Last_Date_primary,...,FT_Mortgage,FT_Pensions1,FT_Loans,FT_Taxes,FT_Credit_Card,FT_Securities,FT_Home_Account,FT_Payroll,FT_Pensions2,FT_Direct_Debit
Customer_Code,,,,,,,,,,,,,,,,,,,,,
15889,2015-10-28,F,ES,V,56.0,1995-01-16,0.0,248.0,1.0,NaT,...,0,0,0,0,0,1,0,0.0,0.0,0
15889,2015-08-28,F,ES,V,56.0,1995-01-16,0.0,246.0,1.0,NaT,...,0,0,0,0,0,1,0,0.0,0.0,0
15889,2016-03-28,F,ES,V,56.0,1995-01-16,0.0,253.0,1.0,NaT,...,0,0,0,0,1,1,0,0.0,0.0,0
15889,2016-02-28,F,ES,V,56.0,1995-01-16,0.0,252.0,1.0,NaT,...,0,0,0,0,0,1,0,0.0,0.0,0
15889,2015-12-28,F,ES,V,56.0,1995-01-16,0.0,250.0,1.0,NaT,...,0,0,0,0,1,1,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1553637,2016-05-28,N,ES,H,60.0,2016-05-31,1.0,0.0,1.0,NaT,...,0,0,0,0,0,0,0,0.0,0.0,0
1553638,2016-05-28,N,ES,H,29.0,2016-05-31,1.0,0.0,1.0,NaT,...,0,0,0,0,0,0,0,0.0,0.0,0
1553643,2016-05-28,N,ES,H,37.0,2016-05-31,1.0,0.0,1.0,NaT,...,0,0,0,0,0,0,0,0.0,0.0,0
1553646,2016-05-28,N,ES,H,38.0,2016-05-31,1.0,0.0,1.0,NaT,...,0,0,0,0,0,0,0,0.0,0.0,0
1553689,2016-05-28,N,ES,V,40.0,2016-05-31,1.0,0.0,1.0,NaT,...,0,0,0,0,0,0,0,0.0,0.0,0

In [5]:
train, test = split_train_test(my_dataset, 0.75, 1)

In [6]:
# my_dataset.to_pickle("generated_files/partial_40K.pkl")
# train.to_pickle("generated_files/40K/train.pkl")
# test.to_pickle("generated_files/40K/test.pkl")

my_dataset.to_pickle("generated_files/partial_120K.pkl")
train.to_pickle("generated_files/120K/train.pkl")
test.to_pickle("generated_files/120K/test.pkl")

In [1]:
from src.load_dataset import load_entire_dataset

In [ ]:
load_entire_dataset("dataset/train_ver2.csv", "generated_files/entire")